
*{
  padding: 0;
  margin: 0;
}
body{
  background-color: gainsboro;
}


#prev{
  background-color: white;
  width: 8.27in;
  min-height: 11.7in;
}



#button{
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

.section{
  margin-bottom: 20px;
}


.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 20px;
}

.old-order{
  margin-top: 10px;
  background-color: bisque;
  border-radius: 10px;
  text-align: center;
}
.new-order{
  background-color: rgb(239, 187, 18);
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;

}

.btn-ord{
  display: block;
  width: 120px;
  height: 60px;
  margin: auto;
  margin-bottom: 5px;
}

.apply-order{
  margin-top: 20px;
}


.info{
display: block;
text-align: center;
padding: 20px 0;
margin-bottom: 50px;
background-color: rgb(41 132 184) ;
border-radius: 50px;
}

.info h1, .info p{
margin: auto;
color: white;
}


ul{
  list-style-position: inside;
}


.conts{
  height: 100px;
  line-height: 100px;
}

.email , .linked , .github{
  line-height: 100px;
  height: 40px;
  font-size: 80px;
}

.email{
  margin-right: 40px;
}
.linked{
  margin-right: 40px;
}

.conts a{
  color: inherit;
  text-decoration: none;
}


.linked:hover{
  color: #0072b1;
}

.github:hover{
  color: rgb(37, 131, 203);
  
}

.email:hover{
  color: goldenrod;
}

.cont-with{
  font-size: 30px;
}






/*

 form.innerHTML += '<textarea  oninput="bulletTextArea(event)" rows="10" style="word-wrap:break-word;" class="form-control" placeholder="Project description"></textarea>'
 let pre = document.querySelectorAll('#projects pre')
  for(let i=0 ;i<pre.length;i++){
    pre[i].style = 'overflow:hidden;white-space: pre-wrap;margin:0px 0px  3px 10px; font-family:"Calibri",sans-serif; font-size: 1rem;'
  }

*/

